/* 个人资料区域 */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: #ddd; /* 占位符颜色 */
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.nickname {
    font-size: 18px;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 10px;
}

.bio {
    font-size: 14px;
    color: var(--black);
    text-align: center;
}
