:root {
    /* 调色盘 */
    --main-bg: #fcebf3;
    --card-bg: #ffd9e8;
    
    /* 尺寸 */
    --radius: 20px;
    --spacing-profile-top: 60px;
    --spacing-btn-top: 15px;
    --spacing-base: 10px;
    --spacing-bottom: 100px;
    --spacing-gap: 40px;

    /* 颜色 */
    --white: #ffffff;
    --black: #000000;
}
